.i{
    width: 28.72px;
height: 46.54px;
gap: 0px;
opacity: 0px;
color: #122f53;
}
.layout{
    width: 1210px;
    height: 50px;
    top: 30px;
    left: 350px;
    padding: 0px 55px 0px 55px;
    gap: 0px;
    opacity: 0px;
    

}